<!DOCTYPE html>
<!-- attach 'gemStore' app -->
<html ng-app="store">
  <head>
  <meta name="viewport" content="width=device-width initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="style.css" rel="stylesheet">
  </head>
  <body>
    <!--
    <div class="container">
      <div class="row" ng-controller="EtsyController">
        <div class="well default" ng-repeat="item in data.results">
          <div class="row" >
            <div class="col-xs-12 col-sm-3">
              <a href="{{item.url}}">
                <img src="{{item.MainImage.url_570xN}}" class="img-responsive img-thumbnail">
              </a>
            </div>
            <div class="col-xs-12 col-sm-9">
              <h3><a href="{{item.url}}">{{item.title}}</a></h3>
              <h5>{{item.price | currency }}</h5>
              <small>({{item.quantity}} in stock)</small>
              <p>{{item.category_tags}}
              {{item.category_materials}}
              {{item.category_path}}
              {{item.taxonomy_path}}
              </p>
              <p>{{item.description | limitTo : 200}}...</p>
              
            </div>  
          </div>        
        </div>
      </div>
      -->
      <!-- attach StoreController using variable 'store' -->
      <div ng-controller="StoreController as store">
        <!-- loop through each store product variable 'product' -->
        <div class="col-xs-12 col-sm-6" ng-repeat="item in data.results | orderBy : 'price' ">
            <!-- hide when product soldOut attr is true (default = false) -->
            <div class="panel panel-default">
              <div class="panel-heading">
                <product-title></product-title>
              </div>
              <div class="panel-body">
                <product-gallery></product-gallery> 
                <product-tabs></product-tabs>
              </div>
            </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="products.js"></script>
    <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  </body>
</html>