<!DOCTYPE html>
<!-- attach 'gemStore' app -->
<html ng-app="store">
  <head>
  <meta name="viewport" content="width=device-width initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700' rel='stylesheet' type='text/css'>
  <link href="style.css" rel="stylesheet">
  </head>
  <body>

      <nav class="navbar navbar-default" id="start">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand click" href="#">Create Your Promotion</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
             
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Links <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">About</a></li>
                  <li><a href="#">FAQ</a></li>
                  <li><a href="#">Contact</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Cidewalk</a></li>
                </ul>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>


      <div class="container-fluid">

        <div class="row">
          <div class="col-xs-12 col-sm-9" >

            <ul class="nav nav-tabs" ng-init="tab = 1" ng-src="{{tab}}">
              <li role="presentation" ng-class="{active:tab===1}"><a href="#" ng-click="tab = 1">1. Product</a></li>
              <li role="presentation" ng-class="{active:tab===2}"><a href="#" ng-click="tab = 2">2. Design</a></li>
              <li role="presentation" ng-class="{active:tab===3}"><a href="#" ng-click="tab = 3" onclick="googleMap()">3. Location</a></li>
              <li role="presentation" ng-class="{active:tab===4}"><a href="#" ng-click="tab = 4">4. Budget</a></li>
              <li role="presentation" ng-class="{active:tab===5}"><a href="#" ng-click="tab = 5">5. Summary</a></li>
            </ul>

          <!-- 1. Process -->
          <div class="well" ng-show="tab === 1">

          
          
            <!-- attach StoreController using variable 'store' -->
            <div class="row" ng-controller="StoreController as store">

              <div class="col-xs-12">
                <div class="col-sm-4">
                  <h3>Select a Product</h3>
                </div>
                <div class="col-sm-4">
                  <form>
                    <div class="form-group search">
                      
                      <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
                      <input type="text" class="form-control input-md text-center" placeholder="Search in {{ data.count }} products" ng-model="search">
                    </div>
                  </form>
                </div>
              </div>

              <!-- loop through each store product variable 'product' -->
              <div class="col-xs-12 col-sm-4 col-md-3" ng-repeat="item in data.results | filter:search | orderBy : 'price' ">

                <!-- LOOP OVER THE PRODUCTS IN $scope.products -->
                <div class="panel click">
                  <div class="product panel-content" style="background: url({{ item.MainImage.url_570xN }}) no-repeat center center">
                    <img src="{{ item.MainImage.url_570xN }}" class="hide">
                    <div class="hide title_test">{{ item.title }}</div>
                    <div class="footer">
                      <h5 class="title">{{ item.title }}</h5>
                      <span class="price">{{ item.price | currency }}</span> <span class="price hide">| {{ item.last_modified_tsz * 1000 | date }}</span>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <!-- 2. Design -->
          <div class="well" ng-show="tab === 2">
            <h3>Choose Your Design</h3>
            <div class="row text-center">
              <div class="col-xs-12 col-sm-4">
                <h4>Photo</h4>
                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                  <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default" id="left-img">Left</button>
                  </div>
                  <div class="btn-group" role="group" id="right-img">
                    <button type="button" class="btn btn-default">Right</button>
                  </div>
                  <div class="btn-group" role="group" id="no-img">
                    <button type="button" class="btn btn-default">None</button>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-4">
                <h4>Text</h4>
                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                  <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default" id="product-title">Product Title</button>
                  </div>
                  <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default" id="shop-name">Shop Name</button>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-4">
                <h4>Size</h4>
                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                  <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default" id="small">Small</button>
                  </div>
                  <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default" id="medium">Medium</button>
                  </div>
                  <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default" id="large">Large</button>
                  </div>
                </div>
              </div>
            </div>

          </div>


          <!-- 3. Design -->
          <div class="well" ng-show="tab === 3">
            <h3>Target a Location</h3>
            <div class="form-horizontal">
              <div class="form-group">
                <label class="col-sm-1 control-label">Location:</label> 
                <div class="col-xs-12 col-sm-5">
                  <input type="text" class="form-control" id="us2-address" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-1 control-label">Radius:</label> 
                <div class="col-xs-12 col-sm-5">
                  <input type="text" class="form-control" id="us2-radius" style="width: 60px"/>
                </div>
              </div>
              <div class="form-group">
                <div id="us2" style="width: 100%; height: 400px;"></div>    
              </div>   
              <div class="form-group hide">
                Lat.: <input type="text" id="us2-lat"/>
                Long.: <input type="text" id="us2-lon"/>
              </div>
            </div>
          </div>


          <!-- 4. Design -->
          <div class="well" ng-show="tab === 4" id="audience">
            <h3>Budget Your Audience</h3>
            <p>I would like to spend $<input id="number" type="text" placeholder="10"> on this promotion. 
            <h4 class="cost" >Estimated reach = <span id="cost"></span> people in my target area.</h4>
          </div>


          <!-- 5. Design -->
          <div class="well" ng-show="tab === 5">
            <h3>Launch Your Promotion</h3>
            <div class="row">
              <div class="col-xs-12 col-sm-3">
                <h5>Product</h5>
                <p>[your chosen product]</p>
              </div>
              <div class="col-xs-12 col-sm-3">
                <h5>Design</h5>
                <p>[your ad design]</p>
              </div>
              <div class="col-xs-12 col-sm-3">
                <h5>Location</h5>
                <p>[your targeted location]</p>
              </div>
              <div class="col-xs-12 col-sm-3">
                <h5>Budget</h5>
                <p>[your budget and audience size]</p>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 padding"></div>
              <div class="col-xs-12 padding"></div>
              <div class="col-xs-12">
                <a href="#" class="btn btn-md btn-primary">LAUNCH PROMOTION</a>
              </div>
            </div>
          </div>


      </div>
      <!-- // Process -->

      <!-- // Preview -->
      <div class="col-xs-12 col-sm-3" style="position: relative">
        <h3 class="text-center">preview</h3>
        <img src="img/iphone-frame-half-bg.png" class="img-responsive">
        <div id="preview" class="col-xs-12 mobile-preview">
          <img src="" class="img-responsive">
          <span id="title"></span>
        </div>
        <img src="img/iphone-frame-half.png" class="img-responsive overlay">
      </div>

    </div>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/products.js"></script>
    <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src='http://maps.google.com/maps/api/js?sensor=false&libraries=places'></script>
    <script src="js/locationpicker/dist/locationpicker.jquery.js"></script>

    <script>
    var audienceLocation = null;
    function googleMap() {
        $('#us2').locationpicker({
        location: {latitude: 42.3504798, longitude: -71.05893370000001}, 
        radius: 1500,
        inputBinding: {
          latitudeInput: $('#us2-lat'),
          longitudeInput: $('#us2-lon'),
          radiusInput: $('#us2-radius'),
          locationNameInput: $('#us2-address')
        },
        enableAutocomplete: true,
        onchanged: function(currentLocation, radius, isMarkerDropped) {
          console.log("Location changed. New location (" + currentLocation.latitude + ", " + currentLocation.longitude + ")");
        },
        zoom: 13
        });
      };

    $(document).ready(function(){
      $('body').on('click','.product', function(){
        $(this).each(function(){
          console.log('click!');
          var productImg = $(this).children('img').attr('src');
          $('#preview img').attr('src', productImg);
          var productTitle = $(this).children('.title_test').text();
          console.log(productTitle);
          $('#preview #title').html(productTitle);
          $('#audience .product').html(productTitle);
        });
        var audienceLocation = $('#us2-address').text();
        console.log(audienceLocation)
        $('#audience .location').html(audienceLocation);
      }); 
      $( "#number" ).on("input", function() {
        var dInput = parseInt(this.value) * 100 ;
        $('#cost').text(dInput);
      });
      $('body').on('click','#right-img', function(){
        $('#preview').attr('class','col-xs-12 mobile-preview');
        $('#preview').toggleClass('right-img');
        console.log('right image');
      });
      $('body').on('click','#left-img', function(){
        $('#preview').attr('class','col-xs-12 mobile-preview');
        $('#preview').toggleClass('left-img');
        console.log('left image');
      });
      $('body').on('click','#no-img', function(){
        $('#preview').attr('class','col-xs-12 mobile-preview');
        $('#preview').toggleClass('no-img');
        console.log('no image');
      });
    });
  </script> 
  </body>
</html>