<div class="col-xs-12">
  <hr>
  <ul class="nav nav-pills nav-justified">
    <li ng-class="{ active: tab.isSet(1) }">
      <a href="" ng-click="tab.setTab(1)">Description</a>
    </li>
    <li ng-class="{ active: tab.isSet(2) }">
      <a href="" ng-click="tab.setTab(2)">Details</a>
    </li>
    <li ng-class="{ active: tab.isSet(3) }">
      <a href="" ng-click="tab.setTab(3)">Sales Info</a>
    </li>
    <!--
    <li ng-class="{ active: tab.isSet(4) }">
      <a href="" ng-click="tab.setTab(4)">Reviews</a>
    </li>
    -->
  </ul>
  <div class="well" ng-show="tab.isSet(1)">{{item.description | limitTo : 200}}...</div>
  <div class="well" ng-show="tab.isSet(2)">
    <p><strong>materials</strong>: <span ng-repeat="material in item.materials" class="label label-default">{{material}}</span></p>
    <p><strong>tags</strong>: <span ng-repeat="tag in item.tags" class="label label-default">{{tag}}</span></p>
    <p><strong>categories</strong>: <span ng-repeat="category in item.category_path" class="label label-default">{{category}}</span></p>
    <p><strong>meta</strong>: <span ng-repeat="meta in item.taxonomy_path" class="label label-default">{{meta}}</span></p>
  </div>
  <div class="well" ng-show="tab.isSet(3)">
    <p><strong>views</strong>: {{item.views}}</p>
    <p><strong>quantity</strong>: {{item.quantity}}</p>
    <p><strong>last modified</strong>: {{item.last_modified_tsz | date}}</p>
  </div>
  <!--
  <div class="well" ng-show="tab.isSet(4)">
    <product-reviews></product-reviews>
  </div>
  -->

  <div class="text-center">
    <!-- show button if expression is true (default = false) -->
    <button class="btn btn-primary text-uppercase" ng-show="product.canPurchase">Add to Cart</button>
  </div>
</div>