<hr>
<ul class="nav nav-pills nav-justified">
  <li ng-class="{ active: tab.isSet(1) }">
    <a href="" ng-click="tab.setTab(1)">Description</a>
  </li>
  <li ng-class="{ active: tab.isSet(2) }">
    <a href="" ng-click="tab.setTab(2)">Specs</a>
  </li>
  <li ng-class="{ active: tab.isSet(3) }">
    <a href="" ng-click="tab.setTab(3)">Reviews</a>
  </li>
</ul>
<div class="well" ng-show="tab.isSet(1)">{{product.description}}</div>
<div class="well" ng-show="tab.isSet(2)">{{product.specs}}</div>
<div class="well" ng-show="tab.isSet(3)">
  <product-reviews></product-reviews>
</div>

<div class="text-center">
  <!-- show button if expression is true (default = false) -->
  <button class="btn btn-primary text-uppercase" ng-show="product.canPurchase">Add to Cart</button>
</div>